p{
    font-size: 20px;
    font-weight: normal;

}

body{
    background-color: #DAC0A3;
    padding: 10px;
    margin: 10px;
}

#code{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code1{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code2{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code3{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code4{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code5{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code6{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code7{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code8{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code9{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}

#code10{
    font-family: 'Space Mono', monospace;
    font-weight: 550;
    color: #3F1D38;
}